<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <meta charset="UTF-8" />
    <title>Two Factor Authorization Demo</title>
</head>
<body>
    <div class="container">
        <div id="verification-container">
            <form action="/verify-sms-code" method="post">
                <h1>Verification page</h1>
                <div class="text-center" th:if="${errorCause}">
                    <strong th:text="${errorCause}"/>
                </div>
                <p>A text message has been sent to your mobile device. Please enter the code below:</p>
                <div class="form-group">
                    <label for="smsCode">Verification Code</label>
                    <input id="smsCode" name="smsCode" type="text" placeholder="4-Digit Code" />
                </div>
                <button type="submit">Verify</button>
            </form>
        </div>
        <div id="generate-token-container">
            <form action="/generate-sms-code" method="post">
                <button type="submit">Generate new sms code</button>
            </form>
        </div>
    </div>
</body>
</html>